@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
  }
  header{
    background-color: rgba(34, 34, 34, 1);
    padding: 50px;
  }
  
  body{
    margin: 0 auto;
    background-color: black;
  }
  .banner-container{
    display: flex;
    justify-content: space-between;  
    color: white; 
    border: 1px solid white;
  }
  span{
    font-family: "Playwrite NZ", cursive;
  }
  .display-flex{
    display: flex;
  }
  .btn-primary{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    border: none;
    color: white;
    font-size: 20px;
  }
  ul > li{
    margin-left: 47px ;
    font-size: 20px;
    list-style: none; 
  }
  .nav-list{
    display: flex;
    border: 1px solid grey;
    border-radius: 39px;
  }
  header{
    background-image: linear-gradient(#111 ,rgba(119, 119, 119, 0.3),#111);
  }
  .front-page{
    width: 50%;
  }
  .banner-page{
    display: flex;
    justify-content: space-between;
  }

  .band{
    font-size: 36px;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
  }
  .main-button{
    background-color: rgba(230, 83, 60, 1) ;
    font-size: 18px;
    padding: 16px 46px;
    border-radius: 42px;
  }
  .secondary-button{
    font-size: 18px;
    padding: 16px 46px;
    border-radius: 42px;

  }
  .banner-description{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  .banner-title{
    font-size: 78px;
    font-weight: 900;
    color: white;
  }
  .banner{
    max-width: 1440px;
    margin: auto;
  }







  
  .main-branch{
    text-align: center;
    margin-top: 50px;
  }
  main{
    background-color: black;
    color: white;
    max-width: 1440px;
    margin: auto;
  }
  .mid-branch{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    text-align: center;
    margin-top: 58px;
  }
  .img-container{
  border-radius: 100px;
  text-align: center;
   
  }
  .banner-titles{
    font-size: 18px;
    font-weight: 600;
  }





  .banner-details{
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    padding: 50px;
  }
  .img-run{
    max-width: 380px;
    border-radius: 18px;
  }


 